<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="vote_management_root"
        name="Vote management"
        sequence="10"/>

    <menuitem
        id="vote_management_election_root"
        name="Election"
        parent="vote_management_root"
        sequence="1"/>
    
    <menuitem
        id="vote_management_election_action"
        name="View elections"
        action="action_vote_management_election"
        parent="vote_management_election_root"
        sequence="1"/>

    <menuitem
        id="vote_management_wizard_create_election"
        name="Create Election"
        action="action_vote_management_wizard_create_election"
        parent="vote_management_election_root"
        sequence="2"/>

    <menuitem
        id="menu_vote_management_election_results"
        name="View results"
        parent="vote_management_election_root"
        action="action_vote_management_election_results"
        sequence="3"/>

    <menuitem
        id="vote_management_district_root"
        name="Districts"
        parent="vote_management_root"
        sequence="2"/>

    <menuitem
        id="vote_management_district_action"
        name="View districts"
        action="action_vote_management_district"
        parent="vote_management_district_root"
        sequence="1"/>
        
    <menuitem
        id="vote_management_wizard_create_districts"
        name="Create districts"
        action="action_vote_management_wizard_create_districts"
        parent="vote_management_district_root"
        sequence="2"/>

    <menuitem
        id="vote_management_voting_center_root"
        name="Voting centers"
        action="action_vote_management_voting_center"
        parent="vote_management_root"
        sequence="3"/>

    <menuitem
        id="vote_management_party_root"
        name="Parties"
        action="action_vote_management_party"
        parent="vote_management_root"
        sequence="4"/>
        
    <menuitem
        id="vote_management_ballot_root"
        name="Ballots"
        parent="vote_management_root"
        sequence="5"/>

    <menuitem
        id="vote_management_ballot_action"
        name="View ballots"
        action="action_vote_management_ballot"
        parent="vote_management_ballot_root"
        sequence="1"/>

    <menuitem
        id="vote_management_ballot_validation_wizard"
        name="Validate ballot"
        action="action_vote_management_wizard_ballot_validation"
        parent="vote_management_ballot_root"
        sequence="2"/>

</odoo>
